* {
	text-align: center;
	background-color: #282c34;
	/* min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin); */
	color: white;
}

.but {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 15px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.active {
	background-color: #2f6a31; /* Green */
}
